<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Comm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>D-Link.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>DCT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Dialup.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Message.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>VoiceMgr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>comAgent.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>devMgr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>phoneBook.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>util.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>08C8669B1495A181003B0CB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08F2CA0F14835D36002E739B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08F684C2157EF27500801041</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>440120D914444F7600A4995C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44BE9E301442F73F00EEE4E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>459965B91479FCC60024CC5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>459965DB1479FEEB0024CC5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>459DD0E114A1A84D00244DB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45BEC90514734CD90026A64F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
