<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>mtkUSBCDCACM</string>
	<key>CFBundleGetInfoString</key>
	<string>212.44.0, USB CDC/ACM driver for Mac OS 10.6/10.7/10.8</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.mediatek.driver.mtkUSBCDCACM</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>mtkUSBCDCACM</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>212.44.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>212.44.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>6276M(ModemA2)</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mediatek.driver.mtkUSBCDCACM</string>
			<key>IOClass</key>
			<string>mtkUSBCDCACMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOUserClientClass</key>
			<string>mtkUSBCDCACMDataUserClient</string>
			<key>IOTTYBaseName</key>
			<string>USB Modem Port</string>
			<key>InputBuffers</key>
			<integer>8</integer>
			<key>OutputBuffers</key>
			<integer>16</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idVendor</key>
			<integer>3725</integer>
			<key>idProduct</key>
			<integer>162</integer>
		</dict>
		<key>6276M(AppA2)</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mediatek.driver.mtkUSBCDCACM</string>
			<key>IOClass</key>
			<string>mtkUSBCDCACMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOUserClientClass</key>
			<string>mtkUSBCDCACMDataUserClient</string>
			<key>IOTTYBaseName</key>
			<string>USB Application Port</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idVendor</key>
			<integer>3725</integer>
			<key>idProduct</key>
			<integer>162</integer>
		</dict>
		<key>6276M(ModemA1)</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mediatek.driver.mtkUSBCDCACM</string>
			<key>IOClass</key>
			<string>mtkUSBCDCACMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOUserClientClass</key>
			<string>mtkUSBCDCACMDataUserClient</string>
			<key>IOTTYBaseName</key>
			<string>USB Modem Port</string>
			<key>InputBuffers</key>
			<integer>8</integer>
			<key>OutputBuffers</key>
			<integer>16</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idVendor</key>
			<integer>3725</integer>
			<key>idProduct</key>
			<integer>161</integer>
		</dict>
		<key>6276M(AppA1)</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mediatek.driver.mtkUSBCDCACM</string>
			<key>IOClass</key>
			<string>mtkUSBCDCACMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOUserClientClass</key>
			<string>mtkUSBCDCACMDataUserClient</string>
			<key>IOTTYBaseName</key>
			<string>USB Application Port</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idVendor</key>
			<integer>3725</integer>
			<key>idProduct</key>
			<integer>161</integer>
		</dict>
		<key>6276M(DbgA1)</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mediatek.driver.mtkUSBCDCACM</string>
			<key>IOClass</key>
			<string>mtkUSBCDCACMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOUserClientClass</key>
			<string>mtkUSBCDCACMDataUserClient</string>
			<key>IOTTYBaseName</key>
			<string>USB Debug Port</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>2</integer>
			<key>idVendor</key>
			<integer>3725</integer>
			<key>idProduct</key>
			<integer>161</integer>
		</dict>
		<key>6280(Modem1 A4)</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mediatek.driver.mtkUSBCDCACM</string>
			<key>IOClass</key>
			<string>mtkUSBCDCACMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOUserClientClass</key>
			<string>mtkUSBCDCACMDataUserClient</string>
			<key>IOTTYBaseName</key>
			<string>USB Modem Port</string>
			<key>InputBuffers</key>
			<integer>8</integer>
			<key>OutputBuffers</key>
			<integer>16</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idVendor</key>
			<integer>3725</integer>
			<key>idProduct</key>
			<integer>164</integer>
		</dict>
		<key>6280(Modem2 A4)</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mediatek.driver.mtkUSBCDCACM</string>
			<key>IOClass</key>
			<string>mtkUSBCDCACMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOUserClientClass</key>
			<string>mtkUSBCDCACMDataUserClient</string>
			<key>IOTTYBaseName</key>
			<string>USB Modem Port</string>
			<key>InputBuffers</key>
			<integer>8</integer>
			<key>OutputBuffers</key>
			<integer>16</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idVendor</key>
			<integer>3725</integer>
			<key>idProduct</key>
			<integer>164</integer>
		</dict>
		<key>6280(App A4)</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mediatek.driver.mtkUSBCDCACM</string>
			<key>IOClass</key>
			<string>mtkUSBCDCACMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOUserClientClass</key>
			<string>mtkUSBCDCACMDataUserClient</string>
			<key>IOTTYBaseName</key>
			<string>USB Application Port</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>2</integer>
			<key>idVendor</key>
			<integer>3725</integer>
			<key>idProduct</key>
			<integer>164</integer>
		</dict>
		<key>6280(speech A4)</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mediatek.driver.mtkUSBCDCACM</string>
			<key>IOClass</key>
			<string>mtkUSBCDCACMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOUserClientClass</key>
			<string>mtkUSBCDCACMDataUserClient</string>
			<key>IOTTYBaseName</key>
			<string>USB Speech Port</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>3</integer>
			<key>idVendor</key>
			<integer>3725</integer>
			<key>idProduct</key>
			<integer>164</integer>
		</dict>
		<key>6280(Dbg A4)</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mediatek.driver.mtkUSBCDCACM</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOUserClientClass</key>
			<string>mtkUSBCDCACMDataUserClient</string>
			<key>IOClass</key>
			<string>mtkUSBCDCACMData</string>
			<key>IOTTYBaseName</key>
			<string>USB Debug Port</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>4</integer>
			<key>idVendor</key>
			<integer>3725</integer>
			<key>idProduct</key>
			<integer>164</integer>
		</dict>
		<key>6280(Modem A5)</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mediatek.driver.mtkUSBCDCACM</string>
			<key>IOClass</key>
			<string>mtkUSBCDCACMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOUserClientClass</key>
			<string>mtkUSBCDCACMDataUserClient</string>
			<key>IOTTYBaseName</key>
			<string>USB Modem Port</string>
			<key>InputBuffers</key>
			<integer>8</integer>
			<key>OutputBuffers</key>
			<integer>16</integer>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>2</integer>
			<key>idVendor</key>
			<integer>3725</integer>
			<key>idProduct</key>
			<integer>165</integer>
		</dict>
		<key>6280(App A5)</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mediatek.driver.mtkUSBCDCACM</string>
			<key>IOClass</key>
			<string>mtkUSBCDCACMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOUserClientClass</key>
			<string>mtkUSBCDCACMDataUserClient</string>
			<key>IOTTYBaseName</key>
			<string>USB Application Port</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>3</integer>
			<key>idVendor</key>
			<integer>3725</integer>
			<key>idProduct</key>
			<integer>165</integer>
		</dict>
		<key>6280(speech A5)</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mediatek.driver.mtkUSBCDCACM</string>
			<key>IOClass</key>
			<string>mtkUSBCDCACMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOUserClientClass</key>
			<string>mtkUSBCDCACMDataUserClient</string>
			<key>IOTTYBaseName</key>
			<string>USB Speech Port</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>4</integer>
			<key>idVendor</key>
			<integer>3725</integer>
			<key>idProduct</key>
			<integer>165</integer>
		</dict>
		<key>6280(Dbg A5)</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mediatek.driver.mtkUSBCDCACM</string>
			<key>IOClass</key>
			<string>mtkUSBCDCACMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOUserClientClass</key>
			<string>mtkUSBCDCACMDataUserClient</string>
			<key>IOTTYBaseName</key>
			<string>USB Debug Port</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>5</integer>
			<key>idVendor</key>
			<integer>3725</integer>
			<key>idProduct</key>
			<integer>165</integer>
		</dict>
		<key>7208(Dbg 7101)</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mediatek.driver.mtkUSBCDCACM</string>
			<key>IOClass</key>
			<string>mtkUSBCDCACMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOUserClientClass</key>
			<string>mtkUSBCDCACMDataUserClient</string>
			<key>IOTTYBaseName</key>
			<string>USB Debug Port</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idVendor</key>
			<integer>3725</integer>
			<key>idProduct</key>
			<integer>28929</integer>
		</dict>
		<key>7208(Dbg 7102)</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mediatek.driver.mtkUSBCDCACM</string>
			<key>IOClass</key>
			<string>mtkUSBCDCACMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOUserClientClass</key>
			<string>mtkUSBCDCACMDataUserClient</string>
			<key>IOTTYBaseName</key>
			<string>USB Debug Port</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>4</integer>
			<key>idVendor</key>
			<integer>3725</integer>
			<key>idProduct</key>
			<integer>28930</integer>
		</dict>
		<key>7208(App 7102)</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mediatek.driver.mtkUSBCDCACM</string>
			<key>IOClass</key>
			<string>mtkUSBCDCACMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOUserClientClass</key>
			<string>mtkUSBCDCACMDataUserClient</string>
			<key>IOTTYBaseName</key>
			<string>USB Application Port</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>2</integer>
			<key>idVendor</key>
			<integer>3725</integer>
			<key>idProduct</key>
			<integer>28930</integer>
		</dict>
		<key>7208(App 7103)</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mediatek.driver.mtkUSBCDCACM</string>
			<key>IOClass</key>
			<string>mtkUSBCDCACMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOUserClientClass</key>
			<string>mtkUSBCDCACMDataUserClient</string>
			<key>IOTTYBaseName</key>
			<string>USB Application Port</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>2</integer>
			<key>idVendor</key>
			<integer>3725</integer>
			<key>idProduct</key>
			<integer>28931</integer>
		</dict>
		<key>7208(Dbg 7103)</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mediatek.driver.mtkUSBCDCACM</string>
			<key>IOClass</key>
			<string>mtkUSBCDCACMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOUserClientClass</key>
			<string>mtkUSBCDCACMDataUserClient</string>
			<key>IOTTYBaseName</key>
			<string>USB Debug Port</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>3</integer>
			<key>idVendor</key>
			<integer>3725</integer>
			<key>idProduct</key>
			<integer>28931</integer>
		</dict>
		<key>7208(App 7106)</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mediatek.driver.mtkUSBCDCACM</string>
			<key>IOClass</key>
			<string>mtkUSBCDCACMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOUserClientClass</key>
			<string>mtkUSBCDCACMDataUserClient</string>
			<key>IOTTYBaseName</key>
			<string>USB Application Port</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>2</integer>
			<key>idVendor</key>
			<integer>3725</integer>
			<key>idProduct</key>
			<integer>28934</integer>
		</dict>
		<key>7208(Dbg 7106)</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mediatek.driver.mtkUSBCDCACM</string>
			<key>IOClass</key>
			<string>mtkUSBCDCACMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOUserClientClass</key>
			<string>mtkUSBCDCACMDataUserClient</string>
			<key>IOTTYBaseName</key>
			<string>USB Debug Port</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>4</integer>
			<key>idVendor</key>
			<integer>3725</integer>
			<key>idProduct</key>
			<integer>28934</integer>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOSerialFamily</key>
		<string>1.0.4</string>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>1.9</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0</string>
	</dict>
	<key>OSBundleLibraries_x86_64</key>
	<dict>
		<key>com.apple.iokit.IOSerialFamily</key>
		<string>1.0.4</string>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>1.9</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0</string>
	</dict>
</dict>
</plist>
